* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #202020;
    background-size: cover;
    background-position: center;
    transition: background-color 0.5s;
}
body.logged-in .carousel-container {
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
}

.carousel-container {
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.carousel {
    width: 100%;
    max-width: 2000px;
    overflow: hidden;
    position: relative;
}

body.logged-in .carousel {
    width: 100%;
    max-width: 2000px;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    display: none;
}

body.logged-in.slide {
    width: 100%;
    display: none;
}

.slide img {
    width: 100%;
    display: block;
}

body.logged-in .slide img {
    width: 100%;
    display: block;
}

.slide.active {
    display: block;
}
li {
    list-style: none;
}
.username-container{
    border-color: #b30000;
    border-style:solid;
    display: flex;
    border-radius: 5px;
}
.username-container a{
    margin: 10px;
    display: flex;
    text-decoration: none;
    position: relative;
    color: #dbdbdb;
    font-size: 1rem;
}

.usuario{
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    text-decoration: none;
    color: #fff;
}


.links a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b30000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }


/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
    /* background-color: #4d4d4d; */
}

.username-container {
    display: none;
}

.action-btn {
    display: block;
}

/* Quando a sessão está ativa */
body.logged-in .username-container {
    display: block;
}

body.logged-in .action-btn {
    display: none;
}


.navbar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
 
.action-btn{
    background-color:#b30000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover {
    scale: 1.05;
    color: #fff;
    background-color: #660000;
}

body:not(.logged-in) #map {
    filter: blur(5px);
}
.action-btn:active {
    scale: 0.95;
}
/* MAIN */
.container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 100px auto 80px auto; /* Ajustado para compensar o header fixo */
}
#avisoMapa {
    text-align: center;
    font-size: 13px;
}

#logarMapa {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #f70a0a;
}
.btn {
    display: grid;
    grid-template-columns: auto;
}
.btn .calculateBtn{
    margin-bottom: 5px;
    width: 100%
}

.btn .cadastroCalc{
    margin-bottom: 5px;
    width: 100%;
}

.btn .saveRoute{
    width: 100%;
}

h1 {
    color: #b30000;
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

input, select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #fdfdfd;
}

.cadastroCalc {
    width: 100px;
    padding: 10px;
    background-color: #b30000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.cadastroCalc:hover {
    background-color: #660000;  
    text-decoration: none;
    color: #ffffff;
}

.calculateBtn{
    width: 100px;
    padding: 10px;
    background-color: #b30000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
  
  .calculateBtn:hover{
    background-color: #660000;  
    text-decoration: none;
    color: #ffffff;
  }

.saveRoute{
  width: 100px;
  padding: 10px;
  background-color: #b30000;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.saveRoute:hover{
  background-color: #660000;  
  text-decoration: none;
  color: #ffffff;
}

/* button {
    width: 100;
    padding: 10px;
    background-color: #b30000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #660000;
} */

#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}

/* primeira caixa de texto */
.containerTexto1{
    margin-top: 100px;
    width: 60vw;
    background-color: #202020;
    display: block;
    justify-content: left;
    overflow-wrap: break-word;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    transition: background-color 0.5s;
}
.containerTexto1 h2{
    font-size: 30px;
    font-weight: bold;
    color:white;
}

.containerTexto1 li {
    margin-left: 20px;
}
.containerTexto1 p {
    font-size: 20px;
    font-weight: bold;
    overflow-wrap: break-word;
}
/* segunda caixa de texto */
.containerTexto2{
    margin-top: 100px;
    width: 60vw;
    background-color: #202020;
    display: block;
    justify-content: left;
    overflow-wrap: break-word;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    text-align: left;
    transition: background-color 0.5s;
}
.containerTexto2 h2{
    font-size: 30px;
    font-weight: bold;
    color:white;
}
.containerTexto2 p{
    font-size: 20px;
    font-weight: bold;
    overflow-wrap: break-word;
}
/* terceira caixa de texto */
.containerTexto3{
    margin-top: 100px;
    width: 60vw;
    background-color: #202020;
    display: block;
    justify-content: left;
    overflow-wrap: break-word;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    transition: background-color 0.5s;
}
.containerTexto3 h2{
    font-size: 30px;
    font-weight: bold;
    color:white;
}

.containerTexto3 li {
    margin-left: 20px;
}
/* quarta caixa de texto */
.containerTexto4{
    margin-top: 100px;
    width: 60vw;
    background-color: #202020;
    display: block;
    justify-content: left;
    overflow-wrap: break-word;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    transition: background-color 0.5s;
}
.containerTexto4 h2{
    font-size: 30px;
    font-weight: bold;
    color:white;
}

.containerTexto4 li {
    margin-left: 20px;
}

.containerFormCarro{
    display:grid;
    grid-template-columns: auto auto auto auto;
}

.containerFormCarro div{
    width: 100%;
}

div#mensagem{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
/* FOOTER */
footer{
    background-color: #333;
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.containerFooter {
    display: flex;
    flex-wrap: wrap;
}
.footerContato{
    margin-top: 40px;
    width: 30vw;
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 15px; 
}
.footerSobreNos{
    margin-top: 40px;
    width: 50vw;
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 15px;
}
.textoFooter{
    margin-right: -50px;
    color: #b30000;
}
.nomeContato{
    font-weight: bold;
}

#btnTopo {
    align-items: center;
    width: 60px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    background-color: #555;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

#btnTopo:hover{
    background-color: #202020;
}

.setaTopo {
    width: 30px;
}

/* Tema escuro */
body.dark-mode {
    background-color: #202020;
    color: rgb(255, 255, 255);
}

body.dark-mode .container .card {
    background-color: #333;
    border: none;
}
body.dark-mode h2 {
    color: #b30000;
}
body.dark-mode .username-container a{
    margin: 10px;
    display: flex;
    text-decoration: none;
    position: relative;
    color: #dbdbdb;
    font-size: 1rem;
}


/* Tema claro */
body.light-mode .container h1 {
    color: #b30000;
}
body.light-mode {
    background-color: #f4f4f4;
    color: #333;
}

body.light-mode label {
   color:#d14545;
}

body.light-mode #resultado {
    color: #727272;
}

body.light-mode .links a {
    color: #000000;
}

body.light-mode h2 {
    background-color: none;
    color:#b30000
}
body.light-mode #containerTexto p {
    background-color: none;
    color:#727272
}

body.light-mode h4 {
    background-color: none;
    color:#727272
}
body.light-mode .textoFooter{
    margin-right: -50px;
    color: #b30000;
}
body.light-mode .container {
    background-color: #dbdbdb; 
    border: none;
}

body.light-mode .card{
    background-color: #dbdbdb; 
    border: none;
}

body.light-mode h1 {
    color: #ffb84d;
}

body.light-mode #containerTexto {
    background-color: #f4f4f4; 
    border: none;
}

body.light-mode footer{
    background-color: #dbdbdb; 
    border: none;
}

body.light-mode .footerContato{
    background-color: #dbdbdb;
    color: #333;
}

body.light-mode .footerSobreNos{
    background-color: #dbdbdb;
    color: #333;
}

body.light-mode #btnTopo {
    align-items: center;
    width: 60px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    background-color: #bdbdbd;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

body.light-mode #btnTopo:hover{
    background-color: #f4f4f4;
}

body.light-mode .action-btn{
    color: white !important;
}

body.dark-mode .action-btn{
    color: white !important;
}

body.light-mode .username-container a{
    margin: 10px;
    display: flex;
    text-decoration: none;
    position: relative;
    color: #000000;
    font-size: 1rem;
}

/* Estilo do botão de alternância de tema */
.theme-toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-switch {
    display: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.toggle-slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.icon-sun, .icon-moon {
    position: absolute;
    font-size: 20px;
}

.icon-sun {
    left: 5px;
}

.icon-moon {
    right: 5px;
    display: none;
}

.toggle-switch:checked + .toggle-label {
    background-color: #4d4d4d;
}

.toggle-switch:checked + .toggle-label .toggle-slider {
    transform: translateX(30px);
}

.toggle-switch:checked + .toggle-label .icon-sun {
    display: none;
}

.toggle-switch:checked + .toggle-label .icon-moon {
    display: block;
}

@media screen and (max-width: 610px) {
    body{
        font-family: Arial, sans-serif;
        background-image: none;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
    }

    h1{
        font-size: 30px;
    }
    .container{
        display: block;
        width: 300px;
    }

    .containerFormCarro{
        display: block;
    }
    /* #form-carro .selecao {
        display: block;
        font-size: 15px;
        margin-left: 40px;
    } */
    label {
        margin-left: 30px;
    }
    /* .selecao{
        width: 180px;
    } */
    button {
        margin-left: 7vw;
        width: 210px;
    }
    
    .theme-toggle{
        position: relative;
    }
    a{
        position: relative;
    }
    a .botaoLogin{
        margin-left: 1000px;        
    }
    .textoFooter {
        display: block;
        margin-left: 10px;
    }
    .containerFooter {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .containerFormCarro{
        display: block;
    }

    .container input, select{
        width: 100%;
    }
    
    .btn { 
        display: flex;
        flex-wrap: wrap;
    }
    .cadastroCalc {
        width: 100%;
        margin-top: 10px;
    }
    .saveRoute{
        margin-top:10px;
    }
    .btn #route-button{
        width: 100%;
        margin-bottom: 10px;
    }
}
/* @media screen and (max-width: 1037px){
    .carousel-container{
        margin-top: 15vh;
    }
} */

@media screen and (max-width: 910px){
    .carousel-container{
        margin-top: 15vh;
    }
}

@media screen and (max-width: 438px){
    .carousel-container{
        margin-top: 20vh;
    }
}

@media screen and (max-width: 382px){
    .carousel-container{
        margin-top: 25vh;
    }
}

@media screen and (max-width: 340px){
    .carousel-container{
        margin-top: 30vh;
    }
}