* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #202020;
    background-size: cover;
    background-position: center;
    transition: background-color 0.5s;
}

.theme-toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-switch {
    display: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.toggle-slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.icon-sun, .icon-moon {
    position: absolute;
    font-size: 20px;
}

.icon-sun {
    left: 5px;
}

.icon-moon {
    right: 5px;
    display: none;
}

.toggle-switch:checked + .toggle-label {
    background-color: #4d4d4d;
}

.toggle-switch:checked + .toggle-label .toggle-slider {
    transform: translateX(30px);
}

.toggle-switch:checked + .toggle-label .icon-sun {
    display: none;
}

.toggle-switch:checked + .toggle-label .icon-moon {
    display: block;
}

.dadosUser{
    padding: 30px;
    margin: 30px;
}

.planosAtivos{
    padding: 30px;
    margin: 30px;
}

.viagemSalva{
    padding: 30px;
    margin: 30px;
}

header {
    position: relative;
    padding: 0 2rem;
    height: 100px;
    border-bottom: 1px solid #4d4d4d;
    transition: transform 0.5s ease;
    /* background-color: #4d4d4d; */
}

.username-container {
    display: none;
}

li {
    list-style: none;
}

.action-btn{
    background-color:#b30000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover {
    scale: 1.05;
    color: #fff;
    background-color: #660000;
}

.navbar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.links a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b30000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.username-container{
    display: block;
}

a {
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.alterBtn{
    background-color:#b30000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    width: 100px;
    height: 65px;
    text-align: center;
}

.alterBtn:hover {
    scale: 1.05;
    color: #fff;
    transition: scale 0.2 ease;
    background-color: #660000;
}

.modalBtn{
    background-color:#b30000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    width: 100%;
    height: 65px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.modalBtn:hover {
    scale: 1.05;
    color: #fff;
    transition: scale 0.2 ease;
    background-color: #660000;
}

.userList{
    background-color:#b30000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    width: 100px;
    height: 65px;
    text-align: center;
    margin-top: 100px;
    margin: 30px;
}


.userList:hover {
    scale: 1.05;
    color: #fff;
    transition: scale 0.2 ease;
    background-color: #660000;
}

.cancelaPlano{
    background-color:#b30000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    width: 130px;
    height: 50px;
    text-align: center;
}

.cancelaPlano:hover {
    scale: 1.05;
    color: #fff;
    transition: scale 0.2 ease;
    background-color: #660000;
}

.data-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc; 
    width: 50%;
    margin: 20px auto 20px auto;
}

.data-label {
    font-weight: bold;
    flex: 1;
    color: #ffffff;
}

.data-value {
    flex: 2;
    text-align: right;
    color: #ffffff;
}
h1{ 
    margin-left: 20px;
    border-radius: 10px;
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
    
}
.dadosUser{
    color: white;
    margin-top: 30px ;
    /* width: 100%; */
}

.dados {
    /* width: 100%; */
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.viagemSalva{
    color: white;
}
.planosAtivos{
    color: white;
}
.cabecalhoUser {
    margin-top: 100px;
}
/* MUDANÇA DE TEMA PARA ESCURO */
body.dark-mode .cabecalhoUser h1{
    background-color: #4d4d4d;
    color: white;
}
/* MUDANÇA DE TEMA PARA CLARO */

body.light-mode header {
    border-bottom: 1px solid #ccc;
    transition: transform 0.5s ease;
}

body.light-mode .links a{
    color: black;
}
body.light-mode {
    background-color: #f4f4f4;
    color: #202020;
}

body.light-mode .cabecalhoUser h1{
    background-color: #dbdbdbdb;
    color: black;
}
body.light-mode .dadosUser{
    color: black;
}

body.light-mode .viagemSalva{
    color: black;
}

body.light-mode .planosAtivos{
    color: black;
}

#modalCancelar {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:560px) {
    .carroCadastro .alterBtn{
        display: flex;
        font-size: 13px;
        width: fit-content;
        padding: 16px 8px;
        font-weight: bold;
        margin: 4px 0 4px 0;
        height: fit-content;
    }
    .carroCadastro td{
        padding: 4px;
    }
    .dadosUser .alterBtn{
        height: fit-content;
        display: flex;
        font-size: 13px;
        width: fit-content;
        padding: 16px 8px;
        font-weight: bold;
        margin: 4px 0 4px 0;
    }
}

@media screen and (max-width:489px){
    header {
        height: 120px;
    }
}

@media screen and (max-width:414px){
    header {
        height: 130px;
    }
}

@media screen and (max-width:354px){
    header {
        height: 160px;
    }
}