#map {
    width: 100%;
    height: 400px; /* Altura do mapa */
    border-radius: 10px;
    margin-bottom: 5px;
}

.container #route-button{
    width: 100px;
    padding: 10px;
    height: 45px;
    background-color: #b30000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

.container #route-button:hover{
    background-color: #660000;  
    text-decoration: none;
    color: #ffffff;
}

/* input {
    width: 300px; 
    padding: 10px; 
    border: 1px solid #ccc; 
} */

.suggestions {
    color: black;
    position: absolute; /* Permite que o container de sugestões flutue sobre os inputs */
    border: 1px solid #ccc; /* Borda das sugestões */
    max-height: 150px; /* Altura máxima do container de sugestões */
    overflow-y: auto; /* Rolagem vertical se necessário */
    background: white; /* Fundo branco para as sugestões */
    z-index: 1000; /* Z-index alto para aparecer acima de outros elementos */
    width: 60px; /* Alinhamento com a largura do input */
    display: none; /* Escondido por padrão */
}

.suggestion {
    padding: 10px; /* Espaçamento interno das sugestões */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

.suggestion:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

div#result{
    font-size: 12px;
}
